/* CSS Document */


body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
background-image:url(../image/white_gradient.png);
background-repeat:repeat-y;
}


.usersession 
{
font-weight: bold;
color:#000000;
background-image:url(../image/gradient_green.gif);
vertical-align: baseline;
margin-top: 6px;
margin-bottom: 1px;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 4px;
padding-right: 4px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
border-color: #FFFFFF;
text-align: left;
text-indent: 0cm;
}


.logout
{
font-weight: bold;
color: #004080;
}

.tabtitle 
{
font-weight: bold;
color: #004080;
background-image:url(../image/gradient_green.gif);
vertical-align: baseline;
margin-top: 6px;
margin-bottom: 1px;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 4px;
padding-right: 4px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
border-color: #FFFFFF;
text-align: left;
text-indent: 0cm;
}

.tabbody
{
height:50px;
font-weight:bold;
color: #004080;
background-color:#EAF1DD;
vertical-align: baseline;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
border-color: #FFFFFF;
text-align: center;
text-indent: 0cm;
}


.tabbody1
{
height:180px;
font-weight:bold;
color: #004080;
background-color:#EAF1DD;
vertical-align: baseline;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
border-color: #FFFFFF;
text-align: center;
text-indent: 0cm;
}


.newterm
{
font-weight:bold;
color: #004080;
background-color: #DFDFDF;
vertical-align: baseline;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
border-color: #FFFFFF;
text-align: center;
text-indent: 0cm;
}

input {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}


.tableadmin{
border: 1px solid #CCCCCC;
font-size:12px;
text-align:center;
}

.tableadmin1{
font-size:12px;
text-align:center;
}



.td {
border: 1px solid #CCCCCC;
font-size:12px;
}


.thadmin {
font-size:12px;
border: 1px solid #CCCCCC;
color: #004080;
background-image:url(../image/gradient_green.gif);
}

.thadmin1 {
font-size:12px;
color: #004080;
background-color:#EAF1DD;
}

img {
border:none;
}

a {
color: #004080;
}

.editTime {
color: #004080;
font-weight:bold;
margin-left:394px;
}

.divExam {
height:auto;
background-color:#EAF1DD;
border: 1px solid  #339900;
color: #004080;
width:100%;
}


.divExam1 {
height:auto;
background-color:#EAF1DD;
border: 1px solid  #000000;
color: #004080;
width:100%;
}


.divExam2 {
height:auto;
background-color:#EAF1DD;
border: 1px solid  #000000;
color: #004080;
width:100%;
}

.exam {
font-family: 'Courier New', monospace;
overflow:visible;
background-color:#FFFFFF;
height:auto;
color:#000000;
margin-left:10px;
margin-right:10px;
font-weight:bold;
font-size:14px;
}


.DoubleSpace {
height:240px;
}

textarea {
font-family: 'Courier New', monospace;
font-weight:bold;
color:#000000;
font-size:14px;
width:98%;
border:1px solid #009900;
}

.exam1 {
font-family: 'Courier New', monospace;
overflow:visible;
background-color:#FFFFFF;
height:250px;
color:#000000;
margin-left:10px;
margin-right:10px;
font-size:14px;
}

.exam2 {
font-family: 'Courier New', monospace;
overflow:visible;
background-color:#FFFFFF;
height:auto;
color:#000000;
margin-left:10px;
margin-right:10px;
font-size:14px;
}



textarea {
margin-left:10px;
margin-right:10px;
}

.buttons {
width:180px; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight:bold;

}

.copyeditor {
color:#FFFFFF;
border:solid 1px #FFFFFF;
overflow:hidden;
}

.results {
border: 1px solid  #009900;
background-color:#EAF1DD;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

.span{
font-weight:bold;
color:#DD0000;
font-style:italic;
}


.wpm{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#000099;
font-style:italic;
font-weight:bold;
}

.select {
font-family:Verdana, Arial, Helvetica, sans-serif;
width:198px;
}

.divlogo {
background-image:url(../image/logo.png);
background-position:center;
background-repeat:no-repeat;
margin-right:515px;
margin-top:50px;
margin-left:525px;
height:70px;
}

.frmLogin {
font-family:tahoma;
font-size:11px;
width:10%;
height:150px;
background-image:url(../image/bgcolor.png);
margin:0% 20% 5% 38%;
border-collapse:collapse;
color: #003399;
white-space:pre;
}

.cname {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
margin-left:15px;
font-size:24px;
margin-bottom:110px;
text-align:center;
}


.Login {
font-family:Verdana, Arial, Helvetica, sans-serif;
background-image:url(../image/red.jpg);
color:#FFFFFF;
text-align:center;
border-collapse:collapse;
border:0px solid #eeeeee;
white-space:pre;
}

.titles {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
margin-left:10px;
font-size:28px;
text-align:center;
color:#990000;
}

.btncolor{
background-color:#6759B7;
color:#FFFFFF;
font-weight:bold;
width:180px; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
border-style:solid;
border: 1px solid  #FFFFFF;
}

.btncolor1{
background-color:#BBB5DF;
color:#000000;
font-weight:bold;
width:180px; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
border-style:solid;
border: 1px solid  #FFFFFF;
}


.btncolor2{
background-color:#999999;
color:#FFFFFF;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-style:solid;
border: 1px solid  #FFFFFF;
}


.btncolor3{
background-image:url(../image/gradient_green.gif);
color:#FFFFFF;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-style:solid;
border: 1px solid  #FFFFFF;
}

.btncolor4{
background-image:url(../image/violet.jpg);
color:#000000;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
border-style:solid;
border: 1px solid  #FFFFFF;
width:190px;
height:25px;
}

.systitle {
color:#006699;
font-size:12px;
}

.timer {
width:150px;
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:30px; 
color:#003300;
font-weight:bold;
background-color:#EAF1DD;
border:none;
}